@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Black.eot');
    src: url('../fonts/MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Black.woff2') format('woff2'),
        url('../fonts/MyriadPro-Black.woff') format('woff'),
        url('../fonts/MyriadPro-Black.ttf') format('truetype'),
        url('../fonts/MyriadPro-Black.svg#MyriadPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Tw Cen MT';
    src: url('../fonts/TwCenMT-Bold.eot');
    src: url('../fonts/TwCenMT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TwCenMT-Bold.woff2') format('woff2'),
        url('../fonts/TwCenMT-Bold.woff') format('woff'),
        url('../fonts/TwCenMT-Bold.ttf') format('truetype'),
        url('../fonts/TwCenMT-Bold.svg#TwCenMT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Tw Cen MT';
    src: url('../fonts/TwCenMT-Regular.eot');
    src: url('../fonts/TwCenMT-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TwCenMT-Regular.woff2') format('woff2'),
        url('../fonts/TwCenMT-Regular.woff') format('woff'),
        url('../fonts/TwCenMT-Regular.ttf') format('truetype'),
        url('../fonts/TwCenMT-Regular.svg#TwCenMT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


$laranja: #f37f3d;
$roxo: #662483;
$branco: #fff;

%color-cinza{
    color: #444444;
}
%myriad{font-family: 'Myriad Pro';font-weight: normal;}
%config-full{
    width: 100%;
    float: left;
    position: relative;
}
%config-base{
    width: 90%;
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
%f-flex{display: flex;}
%f-columns{flex-direction: column;}
%f-between{justify-content: space-between;}
%f-tcenter{text-align: center;}
%f-acenter{align-items: center;}
%f-jcenter{justify-content: center;}
%f-center-all{justify-content: center;align-items: center;text-align: center;}
*{
    @extend %myriad;
	padding: 0;
	margin: 0;
}



body,html{
    @extend %myriad;
	margin: 0;
	padding: 0;
	}

p{
    @extend %myriad;
    font-size: 16px;
    font-weight: 500;
}

a,a:hover{
    text-decoration: none;
}


.container{
    @extend %config-base;
}


#header{
    @extend %f-flex;
    @extend %f-acenter;
    @extend %f-between;
    background: $branco;
    height: 81px;
    position: fixed;
    width: 100%;
    z-index: 999999;
    -webkit-box-shadow: 0px 10px 33px -8px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 10px 33px -8px rgba(0,0,0,0.17);
    box-shadow: 0px 10px 33px -8px rgba(0,0,0,0.17);

    .logotipo{
        @extend %config-full;
        @extend %f-flex;
        @extend %f-acenter;
        width: 20%;
        height: 81px;
    }

    .col-menu{
        @extend %f-flex;
        float: right;
        position: relative;
        height: 81px;

        .abrir-nav{
            display: none;
            transition: 1s all;
            width: 30px; 
            height: 30px;
            margin-top: 33px; 
            margin-right: 5%;
            float: right;
            right: 0;
            flex-direction: column;
            justify-content: space-around; 
            padding: 5px;
        }

.abrir-nav-hamburguer{
    transform: rotate(90deg);
}
        



    .mm_line{
        display: block;
        width: 30px;
        height: 2px;
        transition: .5s ease-in-out;
        background:#662483;
        position: relative;

        }

    .mm_line:before,
    .mm_line:after {
        background:#662483;
content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }

    .mm_line:before {
        top: -10px;
    }

   .mm_line:after {
        bottom: -10px;
    }


    .abrir-nav-hamburguer .mm_line {
        transform: rotate(45deg);
    }

  .abrir-nav-hamburguer .mm_line:before {
        transform: rotate(90deg);
        top: 0;
    }

    .abrir-nav-hamburguer .mm_line:after {
        transform: rotate(90deg);
        bottom: 0;
    }



        .menu-header{
            @extend %config-full;
            @extend %f-flex;
            @extend %f-acenter;


            ul{
                @extend %config-full;
                margin: 0;
                padding: 0;
                list-style: none;

                li{
                    @extend %f-flex;
                    @extend %f-columns;
                    @extend %f-tcenter;
                    float: left;
                    position: relative;
                    padding: 0 30px;

                    a{
                        color: #474747 !important;
                        font-size: 14px;
                        font-weight: 300;
                        width: 100%;
                        cursor: pointer;
                        text-decoration: none;
                        text-transform: uppercase;

                    }
                    :hover a{
                        color: $roxo;
                    }
                }
            }
        }
    }
}


.menu-transition{
    width: 100%;
    transition: 1s all;
}



/*BANNER*/

#banner{
    @extend %config-full;
    height: 701px;
    margin-top: 81px;


    .conteudo-banner{
        @extend %config-full;
        @extend %f-flex;
        @extend %f-jcenter;
        flex-direction: column !important;
        height: 701px;

        img{
            width: 44px;
            height: 46px;
            margin-bottom: 46px;
        }
        h2{
            font-size: 66px;
            color: $branco;   
            line-height: 60px;  
            font-family: 'Tw Cen MT' !important;
            font-weight: bold;

            span{
                font-size: 66px;
                font-weight: 300;   
            }


        }

        h3{
            font-size: 66px;
            color: $branco;    
            line-height: 60px;  
            font-family: 'Tw Cen MT';
            font-weight: normal;

        }

        .btn-banner{
            @extend %f-flex;
            @extend %f-center-all;
            margin-top: 35px;
            width: 250px;
            height: 38px;
            border-radius: 25px;
            color: $branco;
            cursor: pointer;
            text-transform: uppercase;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f460a9+0,2f0497+100 */
            background: #f460a9; /* Old browsers */
            background: -moz-linear-gradient(left, #f460a9 0%, #2f0497 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #f460a9 0%,#2f0497 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #f460a9 0%,#2f0497 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f460a9', endColorstr='#2f0497',GradientType=1 ); /* IE6-9 */
        }

    }

}


/*================================
QUEM SOMOS
===============*/


#quem_somos{

    @extend %config-full;
    height: 325px;
    padding: 166px 0 0;
    background: $roxo;

    .container{  
        @extend %f-flex;
        @extend %f-between;
        .col-quemsomos{
            @extend %config-full;
            @extend %f-flex;
            @extend %f-tcenter;
            @extend %f-acenter;
            flex-direction: column;
            width: 30%;

            h2{
                color: $branco;
                font-size: 35px;
                font-weight: 700;
                margin-bottom: 32px;
                font-family: "Myriad Pro", Myriad !important;

                span{

                    color: #f37f3d;

                }
            }

            p{
                color: $branco;
                font-weight: 300;
            }

        }
    }

}




/*ONDE ESTAMOS*/

#onde_estamos{
    @extend %config-full;
    padding: 125px 0;

    .col-left,
    .col-right{
        @extend %config-full;
        width: 48%;
        height: 485px;
        }

    .col-right{
        float: right;
        h2{
            font-size: 50px;
            font-weight: bolder;
            color: #444444;
        }
        p{
            font-size: 16px;
            color: #b3b4d4;
            font-weight: 300;
            line-height: 33px;
            span{
                color: #7a3e97;
            }
        }
        .btn-agendar{
            @extend %f-flex;
            @extend %f-center-all;
            margin-top: 45px;
            width: 250px;
            height: 38px;
            border-radius: 25px;
            color: $branco;
            cursor: pointer;
            text-transform: uppercase;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f460a9+0,2f0497+100 */
            background: #f460a9; /* Old browsers */
            background: -moz-linear-gradient(left, #f460a9 0%, #2f0497 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #f460a9 0%,#2f0497 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #f460a9 0%,#2f0497 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f460a9', endColorstr='#2f0497',GradientType=1 ); /* IE6-9 */
        }

    }
}



.calendar-form{
    height: 0;
    transition: 2s all;
    }

.active-calendar{
    height: auto;
    transition: 2s all;
}

.agenda-iframe{
    @extend %config-full;
    height: 800px;
    iframe{
        width: 100%;
        height: 100%;
        body{
            background: transparent;
        }
    }
}



/*===============
COWORK
=========*/

#cowork{
    @extend %config-full;

    .container{
        @extend %f-between;
        display: flex;
        padding: 160px 0 125px;
        .col-left{
            height: auto;
            width: 45%;
    
            .title{
                @extend %config-base;
                @extend %f-flex;
                @extend %f-acenter;
                margin-bottom: 40px;
    
                .left-title{
                    @extend %config-base;
                    width: 50%;
                    margin-right: 5%;
                     h2{
                        color: $branco;
                        font-size: 50px;
                        line-height: 50px;
                    }
                    .icone{
                        @extend %config-base;
                        width: 20%;
                        margin-top: -3px;
    
                    }
    
             
                }
    
    
            }
             .content{
                @extend %config-base;
                p{
                    color: $branco;    
                    font-weight: 300;
                    line-height: 30px;
                }
    
            }
        }

        .col-right{
            height: auto;
            padding-top: 105px;
            width: 45%;
            float: right;
            p{
                color: $branco;
                font-weight: bolder;
            }
            a{
                .btn-coworking{
                    @extend %f-flex;
                    @extend %f-center-all;
                    margin-top: 35px;
                    width: 250px;
                    height: 38px;
                    border-radius: 25px;
                    color: $branco;
                    cursor: pointer;
                    text-transform: uppercase;
                    background: #f460a9; /* Old browsers */
                    background: -moz-linear-gradient(left, #f460a9 0%, #2f0497 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, #f460a9 0%,#2f0497 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, #f460a9 0%,#2f0497 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f460a9', endColorstr='#2f0497',GradientType=1 ); /* IE6-9 */

                }
            }

        }
    }

}











/*ECONOMIA CRIATIVA*/


#economia_criativa{
    @extend %config-base;
    height: 580px;
    padding: 164px 0;

    .col-left{
        width: 38%;
        margin-left: 7%;

        h2{
            font-size: 40px;
            font-weight: bolder;
            color: #444444;
            line-height: 45px;
            margin-bottom: 10px;

            span{
                color: #7a3e97;
            }
        }
        p{
            color: #9899c5;
            font-size: 16px;
            font-weight: 300;
            line-height: 33px;

            span{
                color: #7a3e97;
            }
        }
    }

    .col-right{
        padding:0;
        width: 38%;
        margin-right: 5%; 
        float: right;
        h2{
            font-size: 40px;
            font-weight: bolder;
            color: #444444;
            line-height: 45px;
            margin-bottom: 10px;

            span{
                color: #7a3e97;
            }
        }
        p{
            color: #9899c5;
            font-size: 16px;
            font-weight:300;
            line-height: 33px;
        }
    }
}





#economia_criativa_tabs{
    @extend %f-flex;
    @extend %f-center-all;
    @extend %f-columns;
    height: auto;
    padding: 0 0 164px 0;

    h3{
        color:#c4c4c4;
        font-size: 16px;
    }

    .title-economia-criativa-tabs{
        @extend %config-base;
        @extend %f-flex;
        @extend %f-jcenter;
        margin:28px 0;
        text-align: center;
        h2{
            font-size: 50px;
            color: #444444;
        }
        span{
            color: #7a3e97;
        }
    }

    .container{

        .tabs-container{
            @extend %f-flex;
            width: 460px;
            margin: 0 auto;
            position: relative;
            justify-content: space-around;



            .tab-title{
                @extend %f-flex;
                @extend %f-columns;
                text-align: center;
                height: 50px;   
                align-items: center;
                margin-right: 25px;
                margin-left: 25px;
                cursor: pointer;

                .tab-hover{
                    @extend %config-full;
                    height: 5px;
                }

                .tab-content-title{
                    @extend %config-full;
                    font-size: 22px;
                    color: #1f2047;
                    margin-top: 9px;
                }


            }
        }
    }


.tab-content{
    @extend %f-flex;
    @extend %f-jcenter;
    @extend %f-columns;
    width: 70%;
    margin:18px auto;
        h4{
            text-transform: uppercase;
            color: #662483;
            font-size: 16px;
            font-weight: bolder;
            margin-bottom: 16px;
            margin-top: 16px;
        }
        p{
            color: #9fa0c9;
            font-size: 16px;
            line-height: 26px;
            font-weight: 300;
        }

}

.tab-content-2,
.tab-content-3,
.tab-content-4{
    display: none;
}

}


.border-hover{
    @extend %config-full;
    width: 0;
    height: 5px;
    transition: 1s all;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#340b9a+0,f861a9+100 */
    background: #340b9a; /* Old browsers */
    background: -moz-linear-gradient(left, #340b9a 0%, #f861a9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #340b9a 0%,#f861a9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #340b9a 0%,#f861a9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#340b9a', endColorstr='#f861a9',GradientType=1 ); /* IE6-9 */
}

.active-border-hover{
    transition: 1s all;
    width: 100%;
}


/*=========================
Projetos
=============*/




#projetos{
    @extend %config-full;
    @extend %f-flex;
    @extend %f-acenter;
    @extend %f-columns;
    padding: 83px 0 ;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f3e98+0,6f1db4+100 */
    background: #7f3e98; /* Old browsers */
    background: -moz-linear-gradient(top, #7f3e98 0%, #6f1db4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7f3e98 0%,#6f1db4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7f3e98 0%,#6f1db4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f3e98', endColorstr='#6f1db4',GradientType=0 ); /* IE6-9 */

    h3{
        color:#fff;
        font-size: 16px;
        font-weight: bolder;
    }

    .title-projetos{
        @extend %config-full;
        @extend %f-flex;
        @extend %f-jcenter;
        margin:28px 0;

        h2{
            font-size: 50px;
            color: #fff;
        }
        span{
            color: #f37f3d;
        }

    }




}



.container-card{
    @extend %config-full;
    @extend %f-flex;
    @extend %f-between;
}

.card{
    width: 358px;
    height: 358px;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* container com a perspectiva */
.flip-container {
    perspective: 1000;
}
    /* feito com o hover */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 358px;
    height: 358px;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* velocidade da animação */
.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

/* esconder parte de trás do painel durante a troca */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* coloca o painel frontal acima */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.front img{
    width: 100%;
    height: auto;
}

/* painel de volta, inicialmente escondido */

.back {
    transform: rotateY(180deg);
}


.box{
  width:100%;
  height:100%;
  font-size:15px;
  cursor:pointer;
}

.box-back{
    @extend %f-flex;
    @extend %f-center-all;
  background:#f37f3d;
  padding: 0 23px;
  width: 312px;
  height: 358px;
}

.box-back p{
    color: #fdefff;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
}



/*====================
Agenda
=============*/


#agenda{
    @extend %config-full;
    @extend %f-flex;
    @extend %f-acenter;
    @extend %f-tcenter;
    @extend %f-columns;
    padding: 57px 0 0;

    .container{
        span{
            font-size:22px;
            color: #c4c4c4;
        }

        .title-agenda{
            @extend %config-full;
            @extend %f-flex;
            @extend %f-center-all;
            margin:28px 0;
            h2{
                font-size: 50px;
                @extend %color-cinza;
            }
        }
        .col-events{
            @extend %config-full;
            @extend %f-flex;
            @extend %f-between;
            flex-wrap: wrap;

            .box-events{
                width: 27%;
                background: $branco;
                float: left;
                padding: 16px 16px 0;
                -webkit-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.07);
                -moz-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.07);
                box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.07);
                overflow: hidden;
                margin-bottom: 5%;

                img{
                    width: 100%;
                    height: auto;
                }
                p{
                    @extend %color-cinza;
                    font-size: 16px;
                    text-align: left;
                    margin: 20px 0;
                }
                .box-events-data{
                    @extend %config-full;
                    @extend %f-flex;
                    @extend %f-acenter;
                    margin: 18px 0;
                    a{
                        @extend %color-cinza;
                        font-size: 16px;
                        font-weight: 300;
                        margin: auto auto auto 5px;
                        i{
                            @extend %color-cinza;
                            font-size: 25px;
                        }
                    }
                }

                .btn-events{
                    @extend %f-flex;
                    @extend %f-acenter;
                    @extend %f-jcenter;
                    @extend %color-cinza;
                    border: 1px solid #444444;
                    background: transparent;
                    border-radius: 25px;
                    width: 133px;
                    height: 38px;
                    margin: 0 auto;
                    text-transform: uppercase;
                }

            }

        }
    }
}

#newsletter{
    @extend %config-full;
    @extend %f-flex;
    @extend %f-acenter;
    @extend %f-tcenter;
    background: #f5f5f5;
    padding: 0 0 57px 0;

    h2{
        color: #c5c5c5;
        font-size: 22px;
        font-weight: bolder;    
    }
    .title-newsletter{
        @extend %config-full;
        @extend %f-flex;
        @extend %f-jcenter;
        margin:28px 0;

        h2{
            font-size: 50px;
            color: #122f3f;
        }
        span{
            color: #662483;
        }
    }

    h4{
       font-size: 22px;
       color: #9899c5;
       font-weight: 300;  
    }
    .col-form{
        @extend %config-full;
        @extend %f-flex;
        @extend %f-columns;
        @extend %f-acenter;

        input[type=email]{
            @extend %f-flex;
            @extend %f-acenter;
            @extend %f-jcenter;
            width: 527px;
            height: 50px;
            border-radius: 25px;
            background: #e7e5e5;
            color: #9698bd;
            font-size: 16px;
            border:none;
            text-align: center;
            margin: 50px auto;
        }
        input[type=submit]{
            @extend %f-flex;
            @extend %f-center-all;
            width: 130px;
            height: 38px;
            border-radius: 25px;
            color: $branco;
            font-size: 12px;
            font-weight: bolder;
            text-transform: uppercase;
            border:none;
            margin: 0 auto;
            background: #f360a9; /* Old browsers */
            background: -moz-linear-gradient(left, #f360a9 1%, #300497 99%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #f360a9 1%,#300497 99%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #f360a9 1%,#300497 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f360a9', endColorstr='#300497',GradientType=1 ); /* IE6-9 */
        }

        ::-webkit-input-placeholder,
        :-moz-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder{
            color: #9698bd;
       }



    }

}

#footer{
    @extend %config-full;
    @extend %f-flex;
    @extend %f-acenter;
    height: 449px;
    background: #32154c;

    .container{

        .col-footer{
            @extend %config-full;
            @extend %f-flex;
            @extend %f-acenter;
            @extend %f-jcenter;

            .logotipos-footer{
                @extend %config-full;
                @extend %f-flex;
                @extend %f-acenter;
                width: auto;
                justify-content: space-around;
                img{
                    margin: 0 5%;
                }
            }


            .social-footer{
                @extend %f-flex;
                @extend %f-acenter;
                float: right;
                font-size: 24px;
                margin-left: 5%;
                a, a i{
                    color: #795192;
                    margin: 0 5px; 
                }
            }

        }


        .bloco-info{
            @extend %config-full;
            @extend %f-flex;
            @extend %f-center-all;
            p{
                color:#795192;
                font-weight: 300;
                font-size: 16px;
            }
        }
    }
}

/*quemsomos*/

#projetos.mobile-site,
#projetos > .mobile-site,
.mobile-site{
    display: none !important;
}





.social-menu{
    display: none;
    width: 90%;
    float: left;
    position: relative;
    margin: 50px 5%;
}

.social-menu.active-social > a i{
    color: #9aa9c0;
    margin-right: 14px;
    font-size: 26px;
}

.active-social{
    display: block !important;
}


@media(max-width: 2000px){
    .card {
    width: 30%;
}
.flip-container, .front, .back {
    width: 100%;
    height: -webkit-fill-available;
}
.box-back {
    padding: 0 5%;
    width: 90%;
}
}
@media(max-width: 1170px){


    #onde_estamos > div:nth-child(3) > img{

        width: 100%;

        float: left;

        position: relative;

    }

}

@media(max-width: 1100px){

    #header{
        .container{
            .logotipo{
                width: auto;
            }
             .col-menu {
                ul{
                    li{
                        width: auto;
                        padding: 0 2.5%;  
                    }
                }
            }
        }
    }



    #onde_estamos{
        .container{
            .col-left{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    #cowork{
        .container{
            .col-left{
                .title{
                    .left-title{
                        width: auto;
                    }
                }
            }
        }
    }


    #economia_criativa{
        height: auto;
        padding: 5% 0;
        .container{
            .col-left,
            .col-right {
                width: 43%;
                padding-top: 0;
            }
            .col-left{
                margin-left: 0;
            }
            .col-right{
               margin-right: 0; 
            }
        }
    }



    .box {
        height: 358px;
    }

    .box-back p {
        font-size: 15px;
    }

    .card {
        width: 30%;
        height: auto;
    }

}


@media(max-width: 900px){
  #header{
        .container{
            .logotipo{
                width: 15%;
                img{
                    width: 100%;
                }
            }
             .col-menu {
                width: 80%;
                ul{
                    li{
                        width: auto;
                        padding: 0 1.5%;  
                    }
                }
            }
        }
    }

    #quem_somos{
        height: auto;
        padding: 10% 0;
        .container{
            .col-quemsomos{
                width: 32%;
            }
        }
    }

    #agenda{
        .container{
            .col-events{
                .box-events{
                    width: 40%;
                    padding: 3%;
                    img{
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }
}



@media(max-width: 800px){

  #header{
        .container{    
            width: 100%;
            max-width: 100%;
            overflow: unset;
            .logotipo{
                left: 4%;
                z-index: 99999 !important;
                margin: 0 auto;
                position: absolute;
                width: 25%;
                cursor: pointer;
                img{
                    width: auto;
                }
            }
            .col-menu{
                width: 100%;
                float: right;
                position: relative;
                margin-top: 0;
                display: block;
                background: #fff;
                .abrir-nav{
                    display: block; 
                }


                .menu-header{
                    position: absolute;    
                    /*top: -800px;*/
                    left: -1000px;
                    height: 0;
                    background: #fff;
                    margin-top: 80px;
                    height: 100vh;
                    width: 100%;
                    transition: 1s all;   
                    flex-direction: column;
                    z-index: -10 !important;
                    ul{
                        width: 90%;
                        margin: 0 5%;
                        li{

                            width: 100%;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            text-align: left;
                            border-bottom: 1px solid #9aa9c0;
                            justify-content: center;
                            padding: 0;
                            a{
                                color: #9aa9c0;
                                font-size: 16px;
                                font-weight: 300;
                                padding: 2px 0;
                        }
                         :last-child{
                            width: 100%;
                        }
                    }
                }   

            }
           
        }
    }
}

    /*MENU*/

    



.active-menu{
        transition: 1s all;
        left: 0 !important;
        /*top:-2px !important;*/
        height: 100vh !important;

    }

#banner {
    height: auto;
    .container{
        .conteudo-banner {
            height: auto;
            padding: 5% 0;
            width: 100%;
            float: left;
            position: relative;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            img{
                margin-bottom: 0;
            }
            h2 {
                font-size: 50px;
                font-weight: 700;
                color: #fff;
                line-height: 41px;
                margin: 6% 0;
            }
            h3 {
                font-size: 41px;
                line-height: 32px;
            }
        }
    }
}



#quem_somos{
        padding: 8% 0; 
        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .col-quemsomos{
                width: 80%;
                margin:5% 10%;
            }
        }
    }




 #onde_estamos{
    padding: 0;
    .container{
        width: 100%;
        max-width: 100%;
        .col-left{
            width: 100%;
            max-width: 100%;
            padding: 0 !important;
            height: auto;

        }


        .col-right {
            width: 80%;
            padding: 47px 10%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }

    }

 }



#cowork{
    height: auto;
    background-size: cover !important;
    padding: 34px 0;
    .container{
        justify-content: center;
        flex-direction: column;
        padding: 2% 0;
        .col-left,
        .col-right{
            width: 80%;
            padding: 2% 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
        .col-left{
            .title {
                width: 100%;
                flex-direction: column;
                .left-title{
                    width: 100%;
                    margin: 0;
                    order: 2;

                }
                .icone{
                    order: 1;
                    margin:0 0 30px 0; 
                }
            }
        }
    }
}

#economia_criativa{
    height: auto;
    padding: 64px 0 0;
    .container{
        .col-left,
        .col-right{
            width: 80%;
            padding: 2% 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
    }
}


#economia_criativa_tabs{
    background: #f0f0f0;
    padding: 40px 0;
    .container{
        h3{
            font-size: 22px;
        }
        .title-economia-criativa-tabs {
            display: flex;
            justify-content: center;
            margin: 28px 0 0;
            flex-direction: column;
            align-items: center;
            h2{
                margin:40px 0;
            }
        }


        .tabs-container {
            width: 35%;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0 32.5%;

            .tab-title {
                text-align: center;
                height: 41px;
                display: flex;
                align-items: center;
                margin-right: 25px;
                margin-left: 25px;
                flex-direction: column;
                cursor: pointer;
            }

        }
    }
}





#projetos .desk,
.desk{

    display: none !important;

}

#projetos.mobile-site{
    width: 100%;
    margin: 0 auto !important;
    display: flex !important;
}

.card {
    width: 100%;
    height: auto;
}

.mobile-site {
    display: flex !important;
    width: 80%;
    float: left;
    position: relative;
    margin: 1% 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: #444444;
        font-size: 50px;
        text-align: center;
        span{
            color: #8748a7;
        }
    }
}


#projetos h3,
#projetos.mobile-site h3  {
    font-size: 22px;
}

.container-card {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 25px 0;
}



#agenda {
    padding: 5% 0;
    .container{
        .title-agenda{
            margin: 40px 0;
        }
        .col-events {    
            justify-content: center;
            flex-direction: column;
            flex-wrap: nowrap;
            .box-events{
                width: 93%;
                height: auto;
                -webkit-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.07);
                -moz-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.07);
                box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.07);
                img {
                    width: auto;
                    height: auto;
                 }

            }

        }

    }

}




#newsletter {
    padding: 0 0 40px;
    .container{
        .col-form{
            input[type=email]{
                width: 100%;
                margin: 37px auto;
            }
        }
    }
}

#footer{
    height: auto;
    padding: 5% 0;
    .container{

        .col-footer {
            flex-direction: column;
            .social-footer {
                float: right;
                display: flex;
                align-items: center;
                font-size: 24px;
                margin: 24px 0;
            }

        }

        .bloco-info {
            margin: 2% 0 !important;
            }
    }
}



}



@media(max-width: 500px){


/*
    .col-quemsomos {

    width: 100%;

    margin: 5% 0;

}


    #onde_estamos > div:nth-child(3) > img{width: 100%; height: auto;}


#economia_criativa .col-left h2,

.col-right h2,

.title-economia-criativa-tabs h2,

.title-agenda h2,

.title-newsletter h2 {

    font-size: 48px;

    line-height: 45px;

}*/

}

